    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>About Us</h2>
              <p>
               <h4>Company Overview</h4>
                <ul>
                  <li>software development</li>
                  <li>mobile application development</li>
                  <li>Web service provider</li>
                </ul>
              </p>
              <p>
                <h4>Company Profile</h4>
                <ul>
                  <li>Company Name: openfab Inc.</li>
                  <li>Founded In: June 6, 2014</li>
                  <li>Location: Kawasaki Kanagawa, Japan</li>
                  <li>Representative: Hiroshi Omata</li>
                </ul>
              </p>
              <p>
                <h4>Contact</h4>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
              </p>
            </div>
        </div>
    </section>
